body {
  font-family: "ESerifText", Georgia, serif;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: "ESerifHeadline", Georgia, serif;
}
h2 {
  font-family: "ESerifHeadline", Georgia, serif;
}