#main-content {
  transition: filter 350ms;
  transition: -webkit-filter 350ms;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: .714em;
  padding-right: .714em;
  padding-top: 5.36em;
}