body {
  background-color: #423852;
  overflow: hidden;
}

svg {
  /* firefox breaks if enabled */
  /*visibility: hidden;*/
}

.selectionDot,
#menuShadow,
#dimIconGroup .icons,
.menuHit {
  pointer-events: none;
}

.menuItem {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}